<!-- 
<div class="navbar">
  <div class="navbar-header">
    <h2>Maritime System</h2>
  </div>
  <nav class="navbar-nav">
    <ul>
      <li>
        <a routerLink="/map" routerLinkActive="active">
          <i class="fas fa-map-marked-alt"></i>
          Vessel Map
        </a>
      </li>
      <li>
        <a routerLink="/vessels" routerLinkActive="active">
          <i class="fas fa-ship"></i>
          Vessels
        </a>
      </li>
      <li>
        <a routerLink="/ports" routerLinkActive="active">
          <i class="fas fa-anchor"></i>
          Ports
        </a>
      </li>
      <li>
        <a routerLink="/lighthouses" routerLinkActive="active">
          <i class="fas fa-lightbulb"></i>
          Lighthouses
        </a>
      </li>
      <li>
        <a routerLink="/fleets" routerLinkActive="active">
          <i class="fas fa-layer-group"></i>
          Fleet Management
        </a>
      </li>
    </ul>
  </nav>
</div> -->

<div class="navbar">
  <div class="navbar-header">
    <h2>Marine Tracker</h2>
  </div>
  <!-- <nav class="navbar-nav">
    <ul>
      <li>
        <a routerLink="/map" routerLinkActive="active">
          <i class="fas fa-map-marked-alt"></i>
          <span>Vessel Map</span>
        </a>
      </li>
      <li>
        <a routerLink="/vessels" routerLinkActive="active">
          <i class="fas fa-ship"></i>
          <span>Vessels</span>
        </a>
      </li>
      <li>
        <a routerLink="/ports" routerLinkActive="active">
          <i class="fas fa-anchor"></i>
          <span>Ports</span>
        </a>
      </li>
      <li>
        <a routerLink="/lighthouses" routerLinkActive="active">
          <i class="fas fa-lightbulb"></i>
          <span>Lighthouses</span>
        </a>
      </li>
      <li>
        <a routerLink="/fleets" routerLinkActive="active">
          <i class="fas fa-layer-group"></i>
          <span>Fleet Management</span>
        </a>
      </li>
    </ul>
  </nav> -->
  <nav class="navbar-nav">
  <ul>
    <li>
      <a routerLink="/map" routerLinkActive="active">
        <img src="assets/map.png" alt="Map Icon" />
        <span>Vessel Map</span>
      </a>
    </li>
    <li>
      <a routerLink="/vessels" routerLinkActive="active">
        <img src="assets/vessel.png" alt="Vessel Icon" />
        <span>Vessels</span>
      </a>
    </li>
    <li>
      <a routerLink="/ports" routerLinkActive="active">
        <img src="assets/port.png" alt="Port Icon" />
        <span>Ports</span>
      </a>
    </li>
    <li>
      <a routerLink="/lighthouses" routerLinkActive="active">
        <img src="assets/lighthouse.png" alt="Lighthouse Icon" />
        <span>Lighthouses</span>
      </a>
    </li>
    <li>
      <a routerLink="/fleets" routerLinkActive="active">
        <img src="assets/fleet.png" alt="Fleet Icon" />
        <span>Fleet Management</span>
      </a>
    </li>
  </ul>
</nav>
</div>